


    <div class="container">
      <div class="row">
         <div class="col-md-6 border bg-secondary mt-4 mb-4">
            <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; text-align: center;" >Information Books</h1>
            <p  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;  text-align: justify;">Only half way through this book but it's one of the best I've read in a very long time. The chapter on Babbage and Lovelace filled me with rapture and awe, and a little bit of jealousy, peeking in on these great discoveries and the heady conversations and frequent advances and discoveries. What must it have been like to work at that level, to discover those things, to be so far ahead of your time? Incredible writing, so well researched, I just love this book... And as a bonus, highly applicable</p>
         </div>


         <div class="col-md-6 border bg-light mt-4 mb-4" style="background-image:url(../images/cheragh.jpg); background-repeat: no-repeat; background-position:bottom; background-size: cover;">
           

      <div style="margin-left: 200px; margin-top: 70px;">

            <form  action="">
               <input style="height: 30px; width: 200px;"  type="text" name="name" id="name" placeholder="Name Book"><br><br> 
               <input style="height: 30px; width: 200px;"  type="text" name="Author" id="Author" placeholder="Author Name"><br><br>
               <input style="height: 30px; width: 100px; margin-left: 40px;"  type="submit" name="submit" id="submit">

            </form>
         </div>
      </div>
   
         <div class="row">
      
         <div class="col-md-4 bg-light">



            
            <div class="card">
            <img src="../images/city-background-business-book-cover-design-vector-17118177.jpg" alt="" class="card-img-top " style="height: 250px;">
               <div class="card-body">
                  <h4 class="card-title">Charlotte's</h4>
                  <p class="card-text">published: October 15, 2017</p>
                  <p class="card-text">Author: Garth Williams</p>
                  <a href="#" class="btn btn-primary">Download</a>
                  
               </div>
            </div>
            
         </div>
            
         <div class="col-md-4 bg-light">
            <div class="card">
               <img src="../images/nmaz.png" alt="" class="card-img-top" style="height: 250px;">
               <div class="card-body">
                  <h4 class="card-title">Namaz Asan</h4>
                  <p class="card-text">published: October 18, 2007</p>
                  <p class="card-text">Author: Roohany</p>
                  <a href="#" class="btn btn-primary">Download</a>
                  
                 
                  
               </div>
            </div>
            
         </div>
         

         <div class="col-md-4 bg-light">
            <div class="card">
               <img src="../images/docter.jfif " alt="" class="card-img-top " style="height: 250px;">
               <div class="card-body">
                  <h4 class="card-title">Pharmacology</h4>
                  <p class="card-text">published: October 31, 2000</p>
                  <p class="card-text">Author: Salim kazeme</p>
                  <a href="#" class="btn btn-primary">SDownload</a>
                  
                  
               </div>
            </div>

            </div>
         
            <div class="col-md-4 bg-light">
               <div class="card">
                  <img src="../images/english.jpg " alt="" class="card-img-top " style="height: 250px;">
                  <div class="card-body">
                     <h4 class="card-title">English</h4>
                     <p class="card-text">published: jun 28, 2020</p>
                     <p class="card-text">Author: belg</p>
                     <a href="#" class="btn btn-primary">Download</a>
                  </div>
               </div>
               

               
            </div>
               
            <div class="col-md-4 bg-light">
               <div class="card">
                  <img src="../images/sahi b.jpg" alt="" class="card-img-top " style="height: 250px;">
                  <div class="card-body">
                     <h4 class="card-title">Sahih-UL-Bukhari</h4>
                     <p class="card-text">published: jun 1, 120</p>
                     <p class="card-text">Author: Muhammad</p>
                     <a href="#" class="btn btn-primary">Download</a>
                  </div>
               </div>
               

               
            </div>
               
            <div class="col-md-4 bg-light">
               <div class="card">
                  <img src="../images/history.jpg" alt="" class="card-img-top " style="height: 250px;">
                  <div class="card-body">
                     <h4 class="card-title">History</h4>
                     <p class="card-text">published: AUG 8, 2018</p>
                     <p class="card-text">Author: hanja</p>
                     <a href="#" class="btn btn-primary">Download</a>
                  </div>
               </div>
               

               
            </div>
               
            </div>
      </div>
    </div>
