
    <div class="container">

    
    <div class="row">
        <div class="col-md-6  bg-light border mt-4 mb-4">

            <h1 style="padding: 10px; text-align: center;">Contact Us</h1>
          <h4 style="padding: 10px;">To talk to a Publishing Services Consultant  about  publishing your work,   or if you have any other questions, call

            +93 787345077</h4>
            <div class="card">
               <img src="../images/b2.jpg" alt="" class="card-img-top ">
               <div class="card-body">
                  <h4 class="card-title">Salim Kazeme</h4>
                  <h4 class="card-title">Publishing</h4>
                  <h4 class="card-title">designer</h4>
                  <a href="#" class="btn btn-primary" style="font-size: 20px;">See Profile</a>
                 
                  
               </div>
               
            </div>
            
         </div>

        <div class="col-md-6 border bg-light mt-4 mb-4">

            

          
          <div class="login-box">
            <h2>Tell us</h2>
            <form action="/contact/addMsg" method="post">
              <div class="user-box">
                <input type="text" name="name" id="name" >
                <label>Username</label>
              </div>
              <div class="user-box">
                <input type="email" name="email" id="email" >
                <label>email</label>
              </div>
              <div class="user-box">
                <input type="text" name="subject" id="subject" >
                <label>Subject</label>
              </div>
              <div class="user-box">
                <input type="text" name="message" id="message">
                <label>Messages</label>
              </div>
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" name="submit" id="submit">
              </a>
            </form>
              <section class="mt-5" style="margin-left: 60px;" class="face">
                <!-- Facebook -->
                <a 
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #3b5998;font-size: 25px;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              
                <!-- Whatsapp -->
                <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #0bf50f; font-size: 25px;"
                href="#!"
                role="button"
                ><i class="fab fa-whatsapp"></i
              ></a> 
              
                <!-- Twitter -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #55acee; font-size: 25px;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
              
                <!-- Google -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #dd4b39; font-size: 25px;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>
              
                <!-- Instagram -->
              </section>
              
            
          </div>



            
        </div>
        
    </div>
    
   
    </div>
    




