<div class="container">
    <div class="row">
        <div class="col-md-4 border bg-light mt-4 mb-4">
            <h1 class="display-4" style="text-align: center;">Help</h1>
            <h4>Study is very useful we can our life!  </h4>
            <img src="../images/p1.jpg" alt="">
        </div>
        <div class="col-lg-8 border bg-light mt-4 mb-4">
            <h2>How it works</h2>
            <h4>You already did that part—nice job!</h4>
            <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: small;"><h2>Get matched </h2> <br>
                <h4>We’ll match your specific needs with our list of qualified publishers and agents for FREE.</h4>

                <h2>Choose a publisher</h2>
                    <h4>Once interested publishers and agents contact you and send you their FREE information packets, choose the one that best suits your needs.</h4>
                    
                    <h2>Choosing a publisher</h2>
                    <h4>Once you’re matched with one of our qualified publishers, it’s important to make sure you choose one that’s right for you and your work. Here are a few important things to think about.</h4>
                    
            </p>
            <h4 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    
                    Our publishers work with several well-known retailers, e-tailers, and distributors.
                    
                    Where your book could be sold
                    
                    
                    
                    
                    
                    CALL US FOR INFO: 1.888-931-2478
                    Ownership
                    Be sure to ask who retains the rights to your work—you or your publisher. And if it’s both, what percentage of ownership goes to each party?
                    
                    Editing & Design
                    Will your publisher provide professional editing services and cover art design?
                    
                    Distribution
                    Ask what distribution methods are offered: digital, physical, or both.
                    
                    Marketing & Promotion
                    Does your publisher help market and promote your work?
                    
                    Royalties
                    What is your publisher’s royalty structure?
                    
                    Your Costs
                    Make sure to discuss any out-of-pocket expenses you will have to assume.
                    
                    
                    
                    
                    Want to know more? Call us to receive FREE information packets from publishers: 1.888-931-2478
                    Call us for FREE information packets!
                    
            </h4>
        </div>
    </div>
</div>