
<div class="container">
<div class="row">
    <div class="col-md-6 border bg-light mt-4 mb-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large;" >
        <h2 style="text-align:center; padding: 12px; font-size: 30px;">Incremental Peace in Afghanistan</h2>
        <p  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;  text-align: justify;">After 40 years of civil war, Incremental Peace in Afghanistan highlights a need for a radical new approach to peace in the country - one that builds progressive steps towards peace and includes Afghan society as a whole. It argues that the process must begin with measures to reduce violence as a basis to build confidence in a more fundamental change over time.

            Afghanistan is at a crossroads facing two possible futures: indefinite violent conflict, or gradual progress towards sustainable peace. Choices made now over strategy, tactics and resources can tip the balance either way.
            
            Anna Larson, Accord 27 Issue Editor
            
            Contributors span a range of perspectives and insights of Afghan and international men and women from academia, the military, government, armed opposition and civil society, many with direct experience of conflict and peace in Afghanistan.
            
            The Accord argues that a progressive, step-by-step process towards political settlement offers a way to move beyond the peace rhetoric, which builds stability, confidence and legitimacy over time.
            
            An incremental approach must pursue two objectives. First, short-term to reduce violence which inevitably involves a central role for the conflict parties, principally the Taliban and the Afghan government. And second, long-term to renegotiate an inclusive social contract representative of all Afghans, which is only achievable with involvement and ultimately endorsement across Afghan society.
            
            An Afghan settlement does not necessarily mean a single comprehensive peace deal, signed off by all parties. A more viable model could consist of an incremental series of agreements, reforms and joint actions connecting the parallel processes, which cumulatively contribute to confidence and improvement of conditions on the ground, probably over a period of years.
            
            Professor Michael Semple, Author of Accord 27 and Afghanistan Peace practitioner
            
            The publication is split into three sections. Section one learns lessons from Afghanistan’s history of peacemaking. Sections two and three explore possibilities for peaceful transition looking ahead, focusing on peace initiatives and then institutional change.</p>
    </div>
    <div class="col-md-4 border bg-light mt-4 mb-4" >

        <h2 style="text-align:center;  padding: 12px; font-size: 30px;">What your history page shows</h2>
<p  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;  text-align: justify;">
    Your History page shows the webpages you've visited on Chrome in the last 90 days. It doesn’t store Chrome pages you’ve visited like chrome://settings, pages you've visited in Incognito mode, or pages you've already deleted from your browsing history.
    
    If you're signed in to Chrome and syncing your history, then your History page shows webpages you’ve visited across all your synced devices for much longer. If you're signed out of Chrome, your History page won't show webpages across your other devices.</p>

    </div>
    <div class="col-md-2 border bg-light mt-4 mb-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:small;" >
        <h2 style="text-align: center;  padding: 12px; font-size: 30px;">Advertise</h2>
        <p  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;  text-align: justify;">advertise  ipsum dolor sit amet consectetur adipisicing elit. Deleniti expedita ut sed doloribus omnis! Nihil, repellendus. Maiores, adipisci. Tempore voluptatem veniam harum odio iusto optio accusamus. Fuga voluptates placeat dolorum!</p>
        
    </div>
</div>
</div>
