<div class="container" >
    <div class="row">
        <div class="col-md-12 border bg-light mt-4 mb-4" >

            <h1  style="text-align: center;  padding: 12px;">
                The Beginner’s Guide
               <h1 style="text-align: center;  padding: 12px;"> To Understanding Islam</h1>
            </h1>
            
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">Islam is the fastest-growing religion with over 1.9 billion followers all over the globe.

                By now you probably heard about Islam through the media, conversations with a friend or coworker, or perhaps you stumbled upon it while browsing through the web. Although Islam is the second most followed religion in the world after Christianity, it is also one of the most misunderstood.
                <div style="grid-template-columns: auto auto auto;">
                    <img src="../images/quran.jpg"  alt="" style="width:300px;height: 300px ;margin: 40px; padding: 5px; ">
                    <img src="../images/nmaz.png" alt="" style="width:300px;height: 300px; margin: 20px;  padding: 5px;"  >
                    <img src="../images/kahba.png" alt="" style="width:300px;height: 300px; margin: 20px; padding: 5px; ">
                </div>
                </p>
                <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">
                It can be overwhelming to discern the differences between what Islam truly teaches from the misinformation and misconceptions that are widespread. We created this guide for anyone who would like to know what Islam is really about from an authentic source.
                
                 
                holy quran
                We hope you will find value in reading this guide. We divided this beginners guide into five chapters which represent the most important areas of Islam. It is by no means a comprehensive guide that will teach you everything about the religion from A to Z. A guide like that would be too long for the average person to read. However there is more than enough information in here to help you understand the core principles and beliefs of the religion.

                Secondly, all of the verses from the Holy Quran and the narrations from Prophet Muhammad (peace be upon him) are written in English instead of Arabic, their original language. That means any verses or quotes you see within this guide are only interpretations of the meaning and not the exact word-for-word definition.
                
                That ends our short introduction. Lets get started!
            </p>
       
        </div>
        
    
    </div>
    </div>