<div class="container">

<div class="row">
    <div class="col-md-4 border bg-light mt-4 mb-4">
        <h1  style="text-align: center;  padding: 12px;">Which is best hadees in Islam?</h1>
        <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: justify;">
            <img src="../images/hades.jpg" alt="" style="width: 100%; padding: 10px;">
           
            
            
            In the Sunni branch of Islam, the canonical hadith collections are the six books, of which Sahih al-Bukhari and Sahih Muslim generally have the highest status. The other books of hadith are Sunan Abu Dawood, Jami' al-Tirmidhi, Al-Sunan al-Sughra and Sunan ibn Majah.
        Ḥadīth or Athar in Islam refers to what the majority of Muslims believe to be a record of the words, actions, and the silent approval of the Islamic prophet Muhammad as transmitted through chains of narrators. In other words, the ḥadīth are transmitted reports about what Muhammad said and did. Wikipedia</h4>

    </div>
    <div class="col-md-8 border bg-light mt-4 mb-4">
        <h1  style="text-align: center;  padding: 12px;">Who wrote the Quran?</h>
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">Muslims believe that the Quran was orally revealed by God to the final prophet, Muhammad, through the archangel Gabriel incrementally over a period of some 23 years, beginning in the month of Ramadan, when Muhammad was 40; and concluding in 632, the year of his death lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil expedita nostrum officia. Dicta reprehenderit veniam, corrupti velit blanditiis, maiores eum exercitationem temporibus voluptatum ratione alias! Blanditiis, sapiente. Pariatur, unde aliquid!
            
   <img src="../images/quran.jpg" alt="" style="width: 100%; padding: 10px;">
        
        </h4></div>
</div>
</div>

