<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 border">
                <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    
                    
                    <h1>Our Service</h1>
                    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">Muslims believe that the Quran was orally revealed by God to the final prophet, Muhammad, through the archangel Gabriel incrementally over a period of some 23 years, beginning in the month of Ramadan, when Muhammad was 40; and concluding in 632, the year of his death lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil expedita nostrum officia. Dicta reprehenderit veniam, corrupti velit blanditiis, maiores eum exercitationem temporibus voluptatum ratione alias! Blanditiis, sapiente. Pariatur, unde aliquid!
                        >The Library services / facilities include Circulation Service, Reference Service, Online reservation of books, Recommendation of library material, Current Awareness Service, Inter Library Loan Service, Photocopying / Printing Service, Orientation and Information Sessions, Selective Dissemination of Information, Audio ...
                        What are the needs of library services?
                        As gateways to knowledge and culture, libraries play a fundamental role in society. The resources and services they offer create opportunities for learning, support literacy and education, and help shape the new ideas and perspectives that are central to a creative and innovative society.
                        What is library resources and services?
                        Definition of Library Resources. Library resources are those materials, both print and non-print, found in school libraries which support curricular and personal information needs. Print items include books, magazines, newspapers, pamphlets, microfiche or microfilm.
                        <img src="../images/service.jpg" alt="">
                    </h4>
            </div>
        </div>
    </div>
</body>
</html>